<a href="https://colab.research.google.com/github/Adrok24/Proyecto-Integrador/blob/branch_1/Preprocessing_corpus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importaciones y descargas

In [117]:
from google.colab import files
from google.colab import drive
import os
from os.path import isfile, join
import pandas as pd
import re
from nltk.tokenize import sent_tokenize, word_tokenize
import nltk
nltk.download('punkt')
pd.options.display.max_colwidth = 150

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [118]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)

In [119]:
!unrar x '/content/drive/My Drive/Colab Notebooks/desafio final/txt_books_spa.rar'

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from /content/drive/My Drive/Colab Notebooks/desafio final/txt_books_spa.rar


Would you like to replace the existing file txt_books_spa/txt_books_spa/cortazar txt/alvo_el_crepusculo_-_Julio_Cortazar.txt
198858 bytes, modified on 2021-02-02 23:32
with a new one
198858 bytes, modified on 2021-02-02 23:32

[Y]es, [N]o, [A]ll, n[E]ver, [R]ename, [Q]uit q

Program aborted

In [126]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Generar una lista de nombres

In [121]:
folder = '/content/drive/My Drive/Colab Notebooks/desafio final/'

path_to_names = os.path.join(folder, 'list_names.csv')
data_names = pd.read_csv(path_to_names)

In [150]:
list_names = data_names.Name.drop_duplicates().tolist()

In [151]:
delete_from_Names = ['Donde','Por','Para','Pero', 'Al','Sin','Con','Por', 'De','Desde','Por','Para','Hasta','Contra','El','Los','Las','Sus','Esas','Esos','Todos','Mis','Tus', 'Ese', 'Aquel', 'Esos', 'Ellos', 'En', 'Me', 'Te', 'Se', 'Le', 'Ve']

In [152]:
len(list_names)

43675

In [154]:
for x in delete_from_Names:
  if (x in list_names):
    list_names.remove(x)

len(list_names)

43663

# Generacion de un listado de libros

In [155]:
mypath = '/content/txt_books_spa' 

# list_files = [join(root, name_file) for root, dirs, name_file in os.walk(mypath, topdown=False)] 

count_files = 0
dict_paths = {}
for root, dirs, files in os.walk(mypath, topdown=False):
    for name_file in files:
        dict_paths[count_files] = {"path": os.path.join(root, name_file), "name": name_file.replace('.txt', ''), "genre": root.split('/')[4].split(' ')[0], "category" : "Book"}
        count_files = count_files + 1

df_path = pd.DataFrame.from_dict(dict_paths, "index")
display(df_path.shape)

(154, 4)

# Separacion en lineas

In [156]:
def get_lines(line, book, dict_book_final, count_lines):
  if (len(line) > 130):
    split_line = line.split('.')
    if (len(split_line) == 1):
      split_line = line.split(',')
    for s_line in split_line:
      if ((len(s_line) < 130) and (len(s_line) > 30)):
        dict_book_final[count_lines] = {"line": s_line, "len": len(s_line), "book": book['name'], "genre": book['genre'], "category": book['category']}
        count_lines = count_lines + 1
  elif (len(line) > 30):  
    dict_book_final[count_lines] = {"line": line, "len": len(line), "book": book['name'], "genre": book['genre'], "category": book['category']}
    count_lines = count_lines + 1
  return dict_book_final, count_lines

In [157]:
dict_book_final = {}
count_lines = 0
for index, book in df_path.iterrows():
  corpus = open(book['path'], "r")
  cadena = corpus.read()
  list_cadena = sent_tokenize(cadena, language='spanish')
  print('cant sent:',len(list_cadena),book['name'])

  for line in list_cadena:
    if (line.find('\n') == -1):
      dict_book_final, count_lines = get_lines(line, book, dict_book_final, count_lines)
    else:
      split_line = line.split('\n')
      for s_line in split_line:
        dict_book_final, count_lines = get_lines(s_line, book, dict_book_final, count_lines)

cant sent: 1768 Bestiario_-_Julio_Cortazar
cant sent: 950 mbradas_culturales_-_Julio_Cortazar
cant sent: 788 Un_tal_Lucas_-_Julio_Cortazar
cant sent: 910 Obra_critica_I_-_Julio_Cortazar
cant sent: 11572 Cartas_1937-1954_-_Julio_Cortazar
cant sent: 8700 Los-premios-Julio-Cortazar
cant sent: 2679 ases_de_literatura_-_Julio_Cortazar
cant sent: 2328 Juegos-Julio-Cortazar
cant sent: 12746 Cartas_1955-1964_-_Julio_Cortazar
cant sent: 2711 Los-autonautas-de-la-cosmopista-Julio-Cortazar
cant sent: 162 Silvalandia_-_Julio_Cortazar
cant sent: 3665 Obra_critica_II_-_Julio_Cortazar
cant sent: 1187 Deshoras_-_Julio_Cortazar
cant sent: 2213 on_y_otros_relatos_-_Julio_Cortazar
cant sent: 1472 Nicaragua-tan-violentamente-dulce-Julio-Cortazar
cant sent: 1185 alvo_el_crepusculo_-_Julio_Cortazar
cant sent: 2322 Las-armas-secretas-Julio-Cortazar
cant sent: 1057 mos_tanto_a_Glenda_-_Julio_Cortazar
cant sent: 3042 Pasajes_-_Julio_Cortazar
cant sent: 4446 or_y_otros_relatos_-_Julio_Cortazar
cant sent: 2161 Obra_critica_III_-_Julio_Cortazar
cant sent: 2584 _Modelo_para_armar_-_Julio_Cortazar
cant sent: 547 Los-reyes-Julio-Cortazar
cant sent: 1564 La-otra-orilla-Julio-Cortazar
cant sent: 1628 n_que_anda_por_ahi_-_Julio_Cortazar
cant sent: 935 Octaedro_-_Julio_Cortazar
cant sent: 1643 os_fuegos_el_fuego_-_Julio_Cortazar
cant sent: 3664 l_miedo_a_la_libertad_-_Erich_Fromm
cant sent: 1016 La_mano_invisible_-_Adam_Smith
cant sent: 555 e_los_griegos_-_Friedrich_Nietzsche
cant sent: 1388 La_gran_moral_-_Aristoteles
cant sent: 2004 ente_de_haber_nacido_-_E._M._Cioran
cant sent: 7389 lo_Zaratustra_-_Friedrich_Nietzsche
cant sent: 970 El_Anticristo_-_Friedrich_Nietzsche
cant sent: 1574 as_bellas_artes_-_Daniel_Innerarity
cant sent: 4064 ielo_-_Meteorologicos_-_Aristoteles
cant sent: 1713 tica_de_urgencia_-_Fernando_Savater
cant sent: 2201 o_en_un_solo_atomo_-_Dalai_Lama_XIV
cant sent: 1674 Acerca_del_alma_-_Aristoteles
cant sent: 1441 a_caida_en_el_tiempo_-_E._M._Cioran
cant sent: 1080 idad_e_individuo_-_Bertrand_Russell
cant sent: 2910 l_budismo_-_Ernest_Yassine_Bendriss
cant sent: 1267 ogia_del_sofista_-_Fernando_Savater
cant sent: 2346 _cosas_que_escribi_-_Ainhoa_Escarti
cant sent: 64 el_desastre_-_Leopoldo_Maria_Panero
cant sent: 35 izofrenicos_-_Leopoldo_Maria_Panero
cant sent: 2259 Vetas_profundas_-_Fernando_Aramburu
cant sent: 64 e_la_locura_-_Leopoldo_Maria_Panero
cant sent: 226 ado_de_exilio_-_Cristina_Peri_Rossi
cant sent: 18 onversacion_-_Leopoldo_Maria_Panero
cant sent: 325 ntologia_poetica_-_Antonio_Gamoneda
cant sent: 805 o_de_una_chica_en_llamas_-_SrtaBebi
cant sent: 490 Seleccion_de_poemas_-_Adonis
cant sent: 36 Abismo_-_Leopoldo_Maria_Panero
cant sent: 78 _la_lampara_-_Leopoldo_Maria_Panero
cant sent: 1076 Amor_y_asco_-_SrtaBebi
cant sent: 91 a_del_miedo_-_Leopoldo_Maria_Panero
cant sent: 727 aricias_al_tiempo_-_Diego_Fortunato
cant sent: 344 42_poemas_-_Fernando_Pessoa
cant sent: 60 Sombra_-_Leopoldo_Maria_Panero
cant sent: 935 _frente_al_espejo_-_Denis_Hernandez
cant sent: 828 _al_viento_Poemas_-_Diego_Fortunato
cant sent: 330 as_cuatro_estaciones_-_Basho_Matsuo
cant sent: 3744 _como_fueron_-_Eloy_Sanchez_Rosillo
cant sent: 274 uaderno_del_delirio_-_Elvira_Daudet
cant sent: 329 cion_de_mujer_-_Cristina_Peri_Rossi
cant sent: 350 Susurros_del_Alma_-_Alec_Blackhell
cant sent: 544 _versos_perdidos_-_Txus_di_Fellatio
cant sent: 162 Aquella_noche_-_Cristina_Peri_Rossi
cant sent: 283 _medianamente_dulces_-_Alma_Phillip
cant sent: 408 Charles_Bukowski_-_Charles_Bukowski
cant sent: 505 bertad_y_sangre_-_Manolillo_Chinato
cant sent: 377 _grandes_mujeres_-_Alfonsina_Storni
cant sent: 2195 as_llaves_del_infierno_-_A._Rolcest
cant sent: 8379 do_late_un_corazon_-_Danielle_Steel
cant sent: 2523 _No_habra_retirada_-_A._Rolcest
cant sent: 4001 asion_bajo_el_hielo_-_Allison_Leigh
cant sent: 3908 a_extrana_propuesta_-_Allison_Leigh
cant sent: 2174 La_soga_y_el_colt_-_A._Rolcest
cant sent: 9269 Deseos_concedidos_-_Danielle_Steel
cant sent: 9917 Destinos_errantes_-_Danielle_Steel
cant sent: 8175 El_viaje_-_Danielle_Steel
cant sent: 9434 Dulce_y_amargo_-_Danielle_Steel
cant sent: 4330 amorado_de_la_novia_-_Allison_Leigh
cant sent: 2224 Buitres_de_la_pradera_-_A._Rolcest
cant sent: 3643 rapados_en_la_nieve_-_Allison_Leigh
cant sent: 5262 El_regalo_-_Danielle_Steel
cant sent: 2255 Orden_de_Invasion_-_A._Rolcest
cant sent: 2174 La_captura_de_la_fiera_-_A._Rolcest
cant sent: 4264 Regreso_a_casa_-_Allison_Leigh
cant sent: 10277 Amor_y_lagrimas_-_Danielle_Steel
cant sent: 9322 El_beso_-_Danielle_Steel
cant sent: 2405 Guarida_de_condenados_-_A._Rolcest
cant sent: 8846 Accidente_-_Danielle_Steel
cant sent: 2178 La_ofrenda_del_diablo_-_A._Rolcest
cant sent: 2799 El_pistolero_del_norte_-_A._Rolcest
cant sent: 2777 La_tumba_espera_-_A._Rolcest
cant sent: 7410 suntos_del_corazon_-_Danielle_Steel
cant sent: 2241 Tierra_de_vencidos_-_A._Rolcest
cant sent: 1873 uella_de_los_cuatreros_-_A._Rolcest
cant sent: 2455 Peor_que_fieras_-_A._Rolcest
cant sent: 6841 El_legado_-_Danielle_Steel
cant sent: 9742 El_anillo_-_Danielle_Steel
cant sent: 2021 Brigada_de_choque_-_A._Rolcest
cant sent: 2468 infierno_de_los_idolos_-_A._Rolcest
cant sent: 2328 Jaque_de_rufianes_-_A._Rolcest
cant sent: 10090 Aguila_solitaria_-_Danielle_Steel
cant sent: 5756 Cuento_de_hadas_-_Danielle_Steel
cant sent: 8279 Calidoscopio_-_Danielle_Steel
cant sent: 4294 trato_de_matrimonio_-_Allison_Leigh
cant sent: 2339 azote_de_los_cuatreros_-_A._Rolcest
cant sent: 2567 Cerco_de_metralletas_-_A._Rolcest
cant sent: 2648 _Fuera_los_rufianes_-_A._Rolcest
cant sent: 2828 La_caravana_muerta_-_A._Rolcest
cant sent: 2453 El_naipe_revancha_-_A._Rolcest
cant sent: 4271 inco_dias_en_Paris_-_Danielle_Steel
cant sent: 2684 El_tigre_sediento_-_A._Rolcest
cant sent: 1921 Cerco_a_Damasco_-_A._Rolcest
cant sent: 1997 Domando_horizontes_-_A._Rolcest
cant sent: 6657 honor_del_silencio_-_Danielle_Steel
cant sent: 10138 El_precio_del_amor_-_Danielle_Steel
cant sent: 8948 Ecos_-_Danielle_Steel
cant sent: 4542 romesas_del_corazon_-_Allison_Leigh
cant sent: 10322 ora_y_para_siempre_-_Danielle_Steel
cant sent: 3853 quero_y_la_heredera_-_Allison_Leigh
cant sent: 10230 no_de_una_estrella_-_Danielle_Steel
cant sent: 2205 Hoguera_en_la_noche_-_A._Rolcest
cant sent: 3443 Acto_de_fe_-_Danielle_Steel
cant sent: 8074 argo_camino_a_casa_-_Danielle_Steel
cant sent: 9555 El_rancho_-_Danielle_Steel
cant sent: 3036 La_meta_del_odio_-_A._Rolcest
cant sent: 2386 Sin_testigos_-_A._Rolcest
cant sent: 2703 La_muerte_invita_-_A._Rolcest
cant sent: 2430 Consigna_plomo_-_A._Rolcest
cant sent: 2421 Linea_de_fuego_-_A._Rolcest
cant sent: 2080 Hampa_brillante_-_A._Rolcest
cant sent: 2298 Disparos_sin_respuesta_-_A._Rolcest
cant sent: 2336 Empujado_a_la_muerte_-_A._Rolcest
cant sent: 4010 El_baile_del_amor_-_Allison_Leigh
cant sent: 2307 Invitacion_a_la_muerte_-_A._Rolcest
cant sent: 2383 Chantaje_en_las_tumbas_-_A._Rolcest
cant sent: 2776 La_pantera_dormida_-_A._Rolcest
cant sent: 2218 El_reto_de_la_amazona_-_A._Rolcest
cant sent: 4214 El_clon_-_Danielle_Steel
cant sent: 2056 La_ley_en_el_revolver_-_A._Rolcest
cant sent: 2157 ras_quedan_los_muertos_-_A._Rolcest
cant sent: 2247 La_espera_del_buitre_-_A._Rolcest
cant sent: 11231 Album_de_familia_-_Danielle_Steel
cant sent: 1848 _Colt_huracan_-_A._Rolcest
cant sent: 7335 Blue_-_Danielle_Steel
cant sent: 8113 El_fantasma_-_Danielle_Steel
cant sent: 2019 La_trampa_abierta_-_A._Rolcest
cant sent: 8148 Ansia_de_amor_-_Danielle_Steel
cant sent: 6497 arles_street_no_44_-_Danielle_Steel

In [158]:
df_book_lines = pd.DataFrame.from_dict(dict_book_final, "index")
display(df_book_lines)

                                                                                                                  line  ...  category
0                          Bestiario es el primer libro de relatos que Julio Cortázar publica con su auténtico nombre.  ...      Book
1                        No hay en estas ocho obras maestras ni el menor balbuceo ni resacas juveniles: son perfectas.  ...      Book
2       Sorpresa o incomodidad son, en cada texto, un condimento que se agrega al placer indescriptible de su lectura.  ...      Book
3                                                                                    Retoque de cubierta: Un_Tal_Lucas  ...      Book
4                                                                                   A Paco, que gustaba de mis relatos  ...      Book
...                                                                                                                ...  ...       ...
348755                                      Esa dirección ya formaba parte del pasado, de otra vida que ya no existía.  ...      Book
348756                                              Ahora le pertenecía a otra familia que la querría tanto como ella.  ...      Book
348757                              El 44 de Charles Street era un episodio de su vida, mucho más que una simple casa.  ...      Book
348758                                                                               Aquel capítulo ya estaba cerrado.  ...      Book
348759                                                                                El siguiente acababa de empezar.  ...      Book

[348760 rows x 5 columns]

# Filtrado y preprocesamiento

In [159]:
def preprocess_sentence(sentence):
  sentence = sentence.strip()
  # vamos a crear espacios entre las frases y los puntos:
  # ej: "he is a boy." => "he is a boy ."
  sentence = re.sub(r"([?.!,:])", r" \1 ", sentence)
  sentence = re.sub(r'[" "]+', " ", sentence)
  sentence = re.sub(r'[A-Z]{2,20}', " ", sentence)
  sentence = re.sub(r'\d+', "@number", sentence) 
  sentence = sentence.strip()
  return sentence

In [160]:
df_book_lines.iloc[:,0] = df_book_lines.iloc[:,0].apply(preprocess_sentence)

In [161]:
df_book_lines

                                                                                                                     line  ...  category
0                            Bestiario es el primer libro de relatos que Julio Cortázar publica con su auténtico nombre .  ...      Book
1                         No hay en estas ocho obras maestras ni el menor balbuceo ni resacas juveniles : son perfectas .  ...      Book
2       Sorpresa o incomodidad son , en cada texto , un condimento que se agrega al placer indescriptible de su lectura .  ...      Book
3                                                                                      Retoque de cubierta : Un_Tal_Lucas  ...      Book
4                                                                                     A Paco , que gustaba de mis relatos  ...      Book
...                                                                                                                   ...  ...       ...
348755                                       Esa dirección ya formaba parte del pasado , de otra vida que ya no existía .  ...      Book
348756                                                Ahora le pertenecía a otra familia que la querría tanto como ella .  ...      Book
348757                          El @number de Charles Street era un episodio de su vida , mucho más que una simple casa .  ...      Book
348758                                                                                 Aquel capítulo ya estaba cerrado .  ...      Book
348759                                                                                  El siguiente acababa de empezar .  ...      Book

[348760 rows x 5 columns]

In [162]:
# Enmascaramos los nombres propios, y marcamos algunas lineas que tienen caracteres especiales para luego filtrarlas

from IPython.display import clear_output
list_new_rows = [] 
for index, row in df_book_lines.iterrows():
  new_row = row['line']
  for word in row['line'].split(' '):
    if word in list_names:
      new_row = row['line'].replace(word, '@name')
    if word in [':','[',']','_']:
      new_row = row['line'] = '[DELETE]'

  clear_output(wait=True)
  print(index)   
  list_new_rows.append(new_row)

348759

In [163]:
df_book_lines.iloc[:,0] = list_new_rows

In [164]:
df_book_lines

                                                                                                                     line  ...  category
0                            Bestiario es el primer libro de relatos que @name Cortázar publica con su auténtico nombre .  ...      Book
1                                                                                                                [DELETE]  ...      Book
2       Sorpresa o incomodidad son , en cada texto , un condimento que se agrega al placer indescriptible de su lectura .  ...      Book
3                                                                                                                [DELETE]  ...      Book
4                                                                                    A @name , que gustaba de mis relatos  ...      Book
...                                                                                                                   ...  ...       ...
348755                                     @name dirección ya formaba parte del pasado , de otra vida que ya no existía .  ...      Book
348756                                                Ahora le pertenecía a otra familia que la querría tanto como ella .  ...      Book
348757                            El @number de @name Street era un episodio de su vida , mucho más que una simple casa .  ...      Book
348758                                                                                 Aquel capítulo ya estaba cerrado .  ...      Book
348759                                                                                  El siguiente acababa de empezar .  ...      Book

[348760 rows x 5 columns]

In [165]:
# Obsrevamos lineas repetidas
df_book_lines.line.value_counts().head(12)

[DELETE]                                                                                              10653
                                                                                                         51
De Canciones de Mihyar el de Damasco @number                                                             21
Versión de @name Martínez Montávez                                                                       21
A    È  Y  ÍA                                                                                            18
ÓN                                                                                                       10
Y                                                                                                        10
Es una de las autoras más conocidas y leídas en el mundo entero .                                        10
De sus novelas , traducidas a veintiocho idiomas , se han vendido @number millones de ejemplares .       10
En @number se le otorgó la ciudadanía francesa .                                                          9
Í                                                                                                         9
Cortázar también vivió en @name , España y Suiza .                                                        9
Name: line, dtype: int64

In [166]:
#Creamos una mascara para el borrado de 

borrar = df_book_lines.line.value_counts().head(12).index.tolist()
mask_del = df_book_lines.line.apply(lambda x: True if x in borrar else False) 
df_book_lines[mask_del]

            line  len                                 book     genre category
1       [DELETE]   93           Bestiario_-_Julio_Cortazar  cortazar     Book
3       [DELETE]   33           Bestiario_-_Julio_Cortazar  cortazar     Book
28      [DELETE]  102           Bestiario_-_Julio_Cortazar  cortazar     Book
41      [DELETE]  121           Bestiario_-_Julio_Cortazar  cortazar     Book
91      [DELETE]  104           Bestiario_-_Julio_Cortazar  cortazar     Book
...          ...  ...                                  ...       ...      ...
347610  [DELETE]   35  arles_street_no_44_-_Danielle_Steel   Novelas     Book
348297  [DELETE]  105  arles_street_no_44_-_Danielle_Steel   Novelas     Book
348503  [DELETE]  123  arles_street_no_44_-_Danielle_Steel   Novelas     Book
348677  [DELETE]   88  arles_street_no_44_-_Danielle_Steel   Novelas     Book
348709  [DELETE]   79  arles_street_no_44_-_Danielle_Steel   Novelas     Book

[10831 rows x 5 columns]

In [167]:
# Ejecutamos el Drop
df_book_lines.drop(df_book_lines[mask_del].index, inplace=True)

In [168]:
# Evaluamos el shape actual
df_book_lines.drop_duplicates(inplace=True)
df_book_lines.shape[0]

337358

In [212]:
def remove_special_chars(sentence):
  sentence = sentence.lower().strip()
  accentedCharacters = "áéíóúÁÉÍÓÚñÑäëïöüÜ"
  sentence = re.sub(r"[^a-zA-Z" + accentedCharacters + "@?¿¡.!,]+", " ", sentence)
  sentence = re.sub(r"([?¿¡.!,])", r" \1 ", sentence)
  sentence = sentence.strip()
  sentence = sentence.strip('.')
  sentence = sentence.strip(',')
  return sentence

In [213]:
df_book_lines.iloc[:,0] = df_book_lines.iloc[:,0].apply(remove_special_chars)

In [202]:
# Regeneramos la longitud en caracteres post procesamiento
df_book_lines.len = df_book_lines.line.apply(lambda x : len(x))

In [203]:
# Creamos una mascara para eliminar lineas con menos de 35 caracteres

mask_largo = df_book_lines.len < 35
print(mask_largo.sum())

893

In [204]:
# Ejecutamos el Drop
# Evaluamos el shape actual
df_book_lines.drop(df_book_lines[mask_largo].index, inplace=True)
df_book_lines.shape[0]

316618

In [214]:
# Obtenemos algunos samples para evaluar el resultado de nuestro corpus

df_book_lines.sample(15)

                                                                                                                                          line  ...  category
74822                                                                                es la mano que toma todo lo que le pertenece en mi cuerpo  ...      Book
345043                 el pequeño asintió  ,  así que @name llenó un bol de cereales  ,  los cubrió de leche y le dio un plato para el plátano  ...      Book
155763                                                                                  gordon querrá que vuelva a parís en cuanto me recupere  ...      Book
88593                                                                                                       en tibias caras de espantados ojos  ...      Book
34751          mamá no ganaba para sustos  ,  entre el chico de la modista que se había quemado el brazo con leche hirviendo y el boby sarnoso  ...      Book
50014                                                                  tener opiniones es inevitable  ,  normal tener convicciones lo es menos  ...      Book
187592                                           para aquellos que jamás conocieron esas cosas  ,  esto tiene el poder de una fuerza hipnótica  ...      Book
159762                                                                                            ahora  ,  mis padres ya no serán un problema  ...      Book
283129                                                                                  pero un cruel golpe del destino había acabado con todo  ...      Book
27508   @number h  .  @number c al sol  ,  lo que no nos ha impedido explorar  ,  como intrépidos expedicionarios que somos  ,  el arqueódromo  ...      Book
68348                                                                     @name belleza no admite explicación racional se cree en ella y punto  ...      Book
25753                    me refiero a partir de la escena @number porque en todo lo anterior ya has visto que estamos completamente de acuerdo  ...      Book
101888                                                                        @name primera sonrisa desde que dejó caer la bomba en el estudio  ...      Book
201766                                                        todas las conversaciones sobre el tema habían finalizado bruscamente meses antes  ...      Book
273400                                                                 pero ahora que ha alcanzado la mayoría de edad  ,  tengo que informarle  ...      Book

[15 rows x 5 columns]

In [215]:
# Guardamos el resultado
df_book_lines.to_csv('/content/drive/My Drive/Colab Notebooks/desafio final/train_corpus_v2.csv')

In [148]:
# Generamos una funcion para buscar palabras extranjeras, nos sirve para evaluar pusibles errores
def find_word(palabra):
  for index, row in df_book_lines.iterrows():
    new_row = row['line']
    for word in row['line'].split(' '):
      if word in [palabra]:
        print(row['book'])

In [149]:
find_word('passagem')

Poemas_-_Fernando_Pessoa
Poemas_-_Fernando_Pessoa
Poemas_-_Fernando_Pessoa

In [92]:
# mask_clean_book = df_book_lines.book == 'Poemas_-_Fernando_Pessoa'
# mask_clean_book.sum()

# print(df_book_lines.shape[0])
# df_book_lines.drop(df_book_lines[mask_clean_book].index, inplace=True)
# print(df_book_lines.shape[0])